{{ $data := or (index .Site.Data .Site.Language.Lang) .Site.Data }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        <div class="content__left">
            <h1 class="mainHeading">{{ $data.profile.basicInfo.firstName }} <span>{{ $data.profile.basicInfo.lastName }}</span></h1>
            {{ partial "_overview.html" $data.profile }}
            {{ partial "_experience.html" $data }}
        </div>
        <div class="content__right">
            {{ partial "_avatar.html" $data.profile }}
            {{ partial "_contacts.html" $data.profile }}
            {{ partial "_competencies.html" $data.profile }}
            {{ partial "_skills.html" $data.profile }}
            {{ partial "_certs.html" $data }}
        </div>
    </div>
</body>
</html>