.repos {
	&::before,
	&::after{
		box-sizing: border-box;
	}

	&__languageicon{
		width: 0.95rem;
		height: 0.95rem;
		border-radius: 100%;
		display: inline-block;
		top: 1px;
		position: relative;
		margin-left: 1rem;
	}

	&__language{
		margin-bottom: .5rem;
	}
}